<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>designConfiguration</key>
		<dict>
			<key>backgroundColor</key>
			<string>#FFFFFF</string>
			<key>backgroundGradientColors</key>
			<array>
				<string>#004593</string>
				<string>#007AFF</string>
				<string>#007AFF</string>
			</array>
			<key>backgroundLinearGradientDirection</key>
			<string>topToBottom</string>
			<key>backgroundStyle</key>
			<string>solid</string>
			<key>bodyColor</key>
			<string>#1D1C1F</string>
			<key>bodyHighlightColor</key>
			<string>#FFCC00</string>
			<key>devicePosition</key>
			<string>overflowBottom</string>
			<key>deviceScaleFactor</key>
			<real>1</real>
			<key>glitchDirection</key>
			<string>leadingToTrailing</string>
			<key>glitchEndColor</key>
			<string>#76FEFD</string>
			<key>glitchStartColor</key>
			<string>#F657FD</string>
			<key>glowColor</key>
			<string>#0088FF</string>
			<key>hideDeviceFrame</key>
			<false/>
			<key>magnifier</key>
			<dict>
				<key>centerUnitX</key>
				<real>0.5</real>
				<key>centerUnitY</key>
				<real>0.5</real>
				<key>circularDiameterUnit</key>
				<real>0.32</real>
				<key>isEnabled</key>
				<false/>
				<key>lensBorderColor</key>
				<string>#FFFFFF</string>
				<key>lensBorderWidthPoints</key>
				<real>4</real>
				<key>lensDropShadowColor</key>
				<string>#00000059</string>
				<key>lensDropShadowEnabled</key>
				<false/>
				<key>lensDropShadowRadiusPoints</key>
				<real>8</real>
				<key>lensDropShadowXOffsetPoints</key>
				<real>0</real>
				<key>lensDropShadowYOffsetPoints</key>
				<real>4</real>
				<key>lensShape</key>
				<string>circle</string>
				<key>rectCornerRadiusUnit</key>
				<real>0.12</real>
				<key>rectHeightUnit</key>
				<real>0.45</real>
				<key>rectWidthUnit</key>
				<real>0.5</real>
				<key>scaleFactor</key>
				<real>1.5</real>
				<key>snapPosition</key>
				<string>center</string>
			</dict>
			<key>overrideColor</key>
			<false/>
			<key>overrideDevicePosition</key>
			<true/>
			<key>overrideDeviceScaleFactor</key>
			<false/>
			<key>overrideTextAlignment</key>
			<false/>
			<key>stickerColor</key>
			<string>#000000</string>
			<key>textAlignment</key>
			<string>center</string>
			<key>textBackgroundColor</key>
			<string>#004593</string>
			<key>textBackgroundGradientColors</key>
			<array>
				<string>#004593</string>
				<string>#007AFF</string>
				<string>#007AFF00</string>
			</array>
			<key>textBackgroundLinearGradientDirection</key>
			<string>topToBottom</string>
			<key>textBackgroundStyle</key>
			<string>none</string>
			<key>titleColor</key>
			<string>#1D1C1F</string>
			<key>titleHighlightColor</key>
			<string>#FFCC00</string>
			<key>titleTextStyle</key>
			<string>original</string>
			<key>waveTime</key>
			<real>0</real>
		</dict>
		<key>localizations</key>
		<array>
			<dict>
				<key>body</key>
				<string>Keep track of the movies and tv shows you watched</string>
				<key>language</key>
				<string>en-US</string>
				<key>title</key>
				<string>Movie DB</string>
			</dict>
			<dict>
				<key>body</key>
				<string>Behalte den Überblick über die Filme und Serien, die du gesehen hast.</string>
				<key>language</key>
				<string>de-DE</string>
				<key>title</key>
				<string>Movie DB</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>designConfiguration</key>
		<dict>
			<key>backgroundColor</key>
			<string>#FFFFFF</string>
			<key>backgroundGradientColors</key>
			<array>
				<string>#004593</string>
				<string>#007AFF</string>
				<string>#007AFF</string>
			</array>
			<key>backgroundLinearGradientDirection</key>
			<string>topToBottom</string>
			<key>backgroundStyle</key>
			<string>solid</string>
			<key>bodyColor</key>
			<string>#1D1C1F</string>
			<key>bodyHighlightColor</key>
			<string>#FFCC00</string>
			<key>devicePosition</key>
			<string>trailingBottom</string>
			<key>deviceScaleFactor</key>
			<real>1</real>
			<key>glitchDirection</key>
			<string>leadingToTrailing</string>
			<key>glitchEndColor</key>
			<string>#76FEFD</string>
			<key>glitchStartColor</key>
			<string>#F657FD</string>
			<key>glowColor</key>
			<string>#0088FF</string>
			<key>hideDeviceFrame</key>
			<false/>
			<key>magnifier</key>
			<dict>
				<key>centerUnitX</key>
				<real>0.5</real>
				<key>centerUnitY</key>
				<real>0.5</real>
				<key>circularDiameterUnit</key>
				<real>0.32</real>
				<key>isEnabled</key>
				<false/>
				<key>lensBorderColor</key>
				<string>#FFFFFF</string>
				<key>lensBorderWidthPoints</key>
				<real>4</real>
				<key>lensDropShadowColor</key>
				<string>#00000059</string>
				<key>lensDropShadowEnabled</key>
				<false/>
				<key>lensDropShadowRadiusPoints</key>
				<real>8</real>
				<key>lensDropShadowXOffsetPoints</key>
				<real>0</real>
				<key>lensDropShadowYOffsetPoints</key>
				<real>4</real>
				<key>lensShape</key>
				<string>circle</string>
				<key>rectCornerRadiusUnit</key>
				<real>0.12</real>
				<key>rectHeightUnit</key>
				<real>0.45</real>
				<key>rectWidthUnit</key>
				<real>0.5</real>
				<key>scaleFactor</key>
				<real>1.5</real>
				<key>snapPosition</key>
				<string>center</string>
			</dict>
			<key>overrideColor</key>
			<false/>
			<key>overrideDevicePosition</key>
			<true/>
			<key>overrideDeviceScaleFactor</key>
			<false/>
			<key>overrideTextAlignment</key>
			<false/>
			<key>stickerColor</key>
			<string>#000000</string>
			<key>textAlignment</key>
			<string>center</string>
			<key>textBackgroundColor</key>
			<string>#004593</string>
			<key>textBackgroundGradientColors</key>
			<array>
				<string>#004593</string>
				<string>#007AFF</string>
				<string>#007AFF00</string>
			</array>
			<key>textBackgroundLinearGradientDirection</key>
			<string>topToBottom</string>
			<key>textBackgroundStyle</key>
			<string>none</string>
			<key>titleColor</key>
			<string>#1D1C1F</string>
			<key>titleHighlightColor</key>
			<string>#FFCC00</string>
			<key>titleTextStyle</key>
			<string>original</string>
			<key>waveTime</key>
			<real>0</real>
		</dict>
		<key>localizations</key>
		<array>
			<dict>
				<key>body</key>
				<string>See tv shows with unwatched seasons or upcoming movies and tv shows</string>
				<key>language</key>
				<string>en-US</string>
				<key>title</key>
				<string>Preset Lists</string>
			</dict>
			<dict>
				<key>body</key>
				<string>Sieh dir Serien mit ungesehenen Staffeln oder bevorstehende Filme und Serien an.</string>
				<key>language</key>
				<string>de-DE</string>
				<key>title</key>
				<string>Vordefinierte Listen</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>designConfiguration</key>
		<dict>
			<key>backgroundColor</key>
			<string>#FFFFFF</string>
			<key>backgroundGradientColors</key>
			<array>
				<string>#004593</string>
				<string>#007AFF</string>
				<string>#007AFF</string>
			</array>
			<key>backgroundLinearGradientDirection</key>
			<string>topToBottom</string>
			<key>backgroundStyle</key>
			<string>solid</string>
			<key>bodyColor</key>
			<string>#1D1C1F</string>
			<key>bodyHighlightColor</key>
			<string>#FFCC00</string>
			<key>devicePosition</key>
			<string>fullTop</string>
			<key>deviceScaleFactor</key>
			<real>1</real>
			<key>glitchDirection</key>
			<string>leadingToTrailing</string>
			<key>glitchEndColor</key>
			<string>#76FEFD</string>
			<key>glitchStartColor</key>
			<string>#F657FD</string>
			<key>glowColor</key>
			<string>#0088FF</string>
			<key>hideDeviceFrame</key>
			<false/>
			<key>magnifier</key>
			<dict>
				<key>centerUnitX</key>
				<real>0.5</real>
				<key>centerUnitY</key>
				<real>0.5</real>
				<key>circularDiameterUnit</key>
				<real>0.32</real>
				<key>isEnabled</key>
				<false/>
				<key>lensBorderColor</key>
				<string>#FFFFFF</string>
				<key>lensBorderWidthPoints</key>
				<real>4</real>
				<key>lensDropShadowColor</key>
				<string>#00000059</string>
				<key>lensDropShadowEnabled</key>
				<false/>
				<key>lensDropShadowRadiusPoints</key>
				<real>8</real>
				<key>lensDropShadowXOffsetPoints</key>
				<real>0</real>
				<key>lensDropShadowYOffsetPoints</key>
				<real>4</real>
				<key>lensShape</key>
				<string>circle</string>
				<key>rectCornerRadiusUnit</key>
				<real>0.12</real>
				<key>rectHeightUnit</key>
				<real>0.45</real>
				<key>rectWidthUnit</key>
				<real>0.5</real>
				<key>scaleFactor</key>
				<real>1.5</real>
				<key>snapPosition</key>
				<string>center</string>
			</dict>
			<key>overrideColor</key>
			<false/>
			<key>overrideDevicePosition</key>
			<true/>
			<key>overrideDeviceScaleFactor</key>
			<false/>
			<key>overrideTextAlignment</key>
			<false/>
			<key>stickerColor</key>
			<string>#000000</string>
			<key>textAlignment</key>
			<string>center</string>
			<key>textBackgroundColor</key>
			<string>#004593</string>
			<key>textBackgroundGradientColors</key>
			<array>
				<string>#004593</string>
				<string>#007AFF</string>
				<string>#007AFF00</string>
			</array>
			<key>textBackgroundLinearGradientDirection</key>
			<string>topToBottom</string>
			<key>textBackgroundStyle</key>
			<string>none</string>
			<key>titleColor</key>
			<string>#1D1C1F</string>
			<key>titleHighlightColor</key>
			<string>#FFCC00</string>
			<key>titleTextStyle</key>
			<string>original</string>
			<key>waveTime</key>
			<real>0</real>
		</dict>
		<key>localizations</key>
		<array>
			<dict>
				<key>body</key>
				<string>Create dynamic lists that show the content you define</string>
				<key>language</key>
				<string>en-US</string>
				<key>title</key>
				<string>Custom Lists</string>
			</dict>
			<dict>
				<key>body</key>
				<string>Erstelle dynamische Listen, die den von dir definierten Inhalt anzeigen.</string>
				<key>language</key>
				<string>de-DE</string>
				<key>title</key>
				<string>Eigene Listen</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>designConfiguration</key>
		<dict>
			<key>backgroundColor</key>
			<string>#FFFFFF</string>
			<key>backgroundGradientColors</key>
			<array>
				<string>#004593</string>
				<string>#007AFF</string>
				<string>#007AFF</string>
			</array>
			<key>backgroundLinearGradientDirection</key>
			<string>topToBottom</string>
			<key>backgroundStyle</key>
			<string>solid</string>
			<key>bodyColor</key>
			<string>#1D1C1F</string>
			<key>bodyHighlightColor</key>
			<string>#FFCC00</string>
			<key>devicePosition</key>
			<string>fullBottom</string>
			<key>deviceScaleFactor</key>
			<real>1</real>
			<key>glitchDirection</key>
			<string>leadingToTrailing</string>
			<key>glitchEndColor</key>
			<string>#76FEFD</string>
			<key>glitchStartColor</key>
			<string>#F657FD</string>
			<key>glowColor</key>
			<string>#0088FF</string>
			<key>hideDeviceFrame</key>
			<false/>
			<key>magnifier</key>
			<dict>
				<key>centerUnitX</key>
				<real>0.5</real>
				<key>centerUnitY</key>
				<real>0.5</real>
				<key>circularDiameterUnit</key>
				<real>0.32</real>
				<key>isEnabled</key>
				<false/>
				<key>lensBorderColor</key>
				<string>#FFFFFF</string>
				<key>lensBorderWidthPoints</key>
				<real>4</real>
				<key>lensDropShadowColor</key>
				<string>#00000059</string>
				<key>lensDropShadowEnabled</key>
				<false/>
				<key>lensDropShadowRadiusPoints</key>
				<real>8</real>
				<key>lensDropShadowXOffsetPoints</key>
				<real>0</real>
				<key>lensDropShadowYOffsetPoints</key>
				<real>4</real>
				<key>lensShape</key>
				<string>circle</string>
				<key>rectCornerRadiusUnit</key>
				<real>0.12</real>
				<key>rectHeightUnit</key>
				<real>0.45</real>
				<key>rectWidthUnit</key>
				<real>0.5</real>
				<key>scaleFactor</key>
				<real>1.5</real>
				<key>snapPosition</key>
				<string>center</string>
			</dict>
			<key>overrideColor</key>
			<false/>
			<key>overrideDevicePosition</key>
			<false/>
			<key>overrideDeviceScaleFactor</key>
			<false/>
			<key>overrideTextAlignment</key>
			<false/>
			<key>stickerColor</key>
			<string>#000000</string>
			<key>textAlignment</key>
			<string>center</string>
			<key>textBackgroundColor</key>
			<string>#004593</string>
			<key>textBackgroundGradientColors</key>
			<array>
				<string>#004593</string>
				<string>#007AFF</string>
				<string>#007AFF00</string>
			</array>
			<key>textBackgroundLinearGradientDirection</key>
			<string>topToBottom</string>
			<key>textBackgroundStyle</key>
			<string>none</string>
			<key>titleColor</key>
			<string>#1D1C1F</string>
			<key>titleHighlightColor</key>
			<string>#FFCC00</string>
			<key>titleTextStyle</key>
			<string>original</string>
			<key>waveTime</key>
			<real>0</real>
		</dict>
		<key>localizations</key>
		<array>
			<dict>
				<key>body</key>
				<string>Import and export your content in CSV format</string>
				<key>language</key>
				<string>en-US</string>
				<key>title</key>
				<string>Import/Export</string>
			</dict>
			<dict>
				<key>body</key>
				<string>Importiere und exportiere deine Inhalte im CSV-Format.</string>
				<key>language</key>
				<string>de-DE</string>
				<key>title</key>
				<string>Import/Export</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
